<mat-toolbar class="mat-elevation-z10" color="primary"
    [ngStyle]="{'background-color': '#9575cd', 'display': 'flex', 'flex-direction': 'row', 'justify-content': 'flex-end', 'align-items': 'center',  'align-content': 'flex-end'}">
    <div *ngIf="!collapseNavbar()">
        <mat-list-item [ngStyle]="{'margin-right':'16px'}"><a [ngStyle]="{'color': '#1f262a'}"
                [routerLink]="['/movies']">Movies</a>
        </mat-list-item>
        <mat-list-item [ngStyle]="{'margin-right':'16px'}"><a [ngStyle]="{'color': '#1f262a'}"
                [routerLink]="['/profile']">Profile</a></mat-list-item>
        <mat-list-item [ngStyle]="{'margin-right':'16px'}"><a [ngStyle]="{'color': '#1f262a'}"
                [routerLink]="['/logout']" (click)="logOut()">Logout</a>
        </mat-list-item>
    </div>
    <div *ngIf="collapseNavbar()">
        <a class="valign-center" mat-icon-button [matMenuTriggerFor]="menu" aria-label="additional links">
            <mat-icon>more_vert</mat-icon>
        </a>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/movies']">Movies</button>
            <button mat-menu-item [routerLink]=" ['/profile']">Profile</button>
            <button mat-menu-item [routerLink]="['/logout']" (click)="logOut()">Logout</button>
        </mat-menu>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>