<!-- *ngFor directive is being used to display all retunred movies, where each movie is displayed in its own card -->
<div style="display: flex;">
    <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">
        <img src={{movie.ImagePath}} />
        <mat-card-header>
            <mat-card-title>
                {{movie.Title}}
            </mat-card-title>
            <mat-card-subtitle>
                {{movie.Director.Name}}
            </mat-card-subtitle>
        </mat-card-header>

        <!-- [ngStyle]="{'align-content': 'center', 'align-items': 'center', 'justify-content': 'center', 'justify-items': 'center'}" -->
        <mat-card-actions>
            <div>

                <div className="bottomButtons">
                    <button mat-flat-button [ngStyle]="{'background-color': '#ff9f2d', 'width': '100%'}"
                        (click)="showDetails(movie.Title, movie.Director.Name, movie.ImagePath, movie.Description)"
                        color="primary">
                        Details
                    </button>
                </div>

                <div>
                    <span>
                        <button mat-flat-button [ngStyle]="{'background-color': 'purple', 'margin-right': '0.5rem'}"
                            (click)="showDirector(movie.Director.Name, movie.Director.Bio, movie.Director.Birth)"
                            color="primary">
                            Director
                        </button>
                    </span>
                    <span>
                        <button mat-flat-button [ngStyle]="{'background-color': '#168fff',  'margin-left': '0.5rem'}"
                            (click)="showGenre(movie.Genre.Name, movie.Genre.Description)" color="primary">
                            Genre
                        </button>
                    </span>

                </div>


            </div>
        </mat-card-actions>
    </mat-card>
</div>