<!-- *ngFor directive is being used to display all retunred movies, where each movie is displayed in its own card -->
<app-navbar></app-navbar>
<h1
    [ngStyle]="{'color': '#fff', 'opacity': '0.8', 'margin-bottom': '0.5rem', 'margin-left': '2rem', 'margin-top': '2rem'}">
    Explore films and mark your favorites!
</h1>
<div style="display: flex;" [ngStyle]="{'margin-top': '2rem'}">
    <!-- <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;"> -->
    <mat-card *ngFor="let movie of movies; let i=index">
        <mat-card-content>

            <img src={{movie.ImagePath}} />

            <mat-card-title [ngStyle]="{'color': '#fff', 'opacity': '0.8', 'margin-top': '8px'}">
                {{movie.Title}}
            </mat-card-title>



        </mat-card-content>

        <mat-card-actions>

            <button mat-button
                [ngStyle]="{'color': '#42a5f5', 'margin-left': '0', 'padding-left': '0', 'margin-bottom': '0.5rem'}"
                (click)="showDirector(movie.Director.Name, movie.Director.Bio, movie.Director.Birth)" color="primary">
                {{movie.Director.Name}}
            </button>

            <button mat-flat-button [ngStyle]="{'background-color': '#9575cd', 'width': '100%', 'color': '#1f262a'}"
                (click)="showDetails(movie.Title, movie.Director.Name, movie.ImagePath, movie.Description)"
                color="primary">
                Details
            </button>


            <button mat-button [ngStyle]="{'color': '#42a5f5', 'margin-left': '0', 'padding-left': '0'}"
                (click)="showGenre(movie.Genre.Name, movie.Genre.Description)" color="primary">
                {{movie.Genre.Name}}
            </button>

            <mat-icon *ngIf="isFavorite(movie._id)" [ngStyle]="{'color': '#fff176'}"
                (click)="toggleFavorite(movie._id)">
                favorite
            </mat-icon>

            <mat-icon *ngIf="!isFavorite(movie._id)" [ngStyle]="{'color': '#fff176'}"
                (click)="toggleFavorite(movie._id)">
                favorite_border
            </mat-icon>
        </mat-card-actions>

    </mat-card>
</div>